/* ===========================
General Styles
=========================== */
html, body {
    background: #000; /* Fondo completamente negro */
    color: white; /* Texto blanco por defecto */
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina rellenos */
    height: 100%; /* Asegura que el fondo cubra toda la altura */
    font-family: Arial, sans-serif; /* Fuente predeterminada */
}